In [1]:
#1 importing necessary libraries
import pandas as pd
import numpy as np

In [9]:
#2, 3 importing the dataset and assigning to a variable chipo
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")

In [10]:
#4 revealing the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [12]:
#5 revealing number of observations
chipo.shape[0]

4622

In [14]:
#6 revealing the number of columns
len(chipo.columns)

5

In [15]:
#7 printing the name of all the columns
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [16]:
#8 checking the index of the dataset
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [19]:
#9 checking the most ordered item 
most_ordered_item = chipo.groupby("item_name").sum().sort_values(['quantity'], ascending=False)
most_ordered_item.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [20]:
#10 quantity for the most ordered items
most_ordered_item = chipo.groupby("item_name").sum().sort_values(['quantity'], ascending=False)
most_ordered_item.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [21]:
#11 the most ordered item in the choice description
most_ordered_item = chipo.groupby("choice_description").sum().sort_values(['quantity'], ascending=False)
most_ordered_item.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [22]:
#12 total items ordered
total_items_ordered = chipo.quantity.sum()
total_items_ordered

4972

In [23]:
#13 changing the item price data type to float 

# check the data type 
chipo.item_price.dtype

dtype('O')

In [28]:
# change the data type to float 
chipo.item_price = chipo.item_price.apply(lambda p: float(p[1:-1]))

In [29]:
# check the new data type 
chipo.item_price.dtype

dtype('float64')

In [34]:
#14 checking total revenue for the period
total_revenue = (chipo['item_price'] * chipo['quantity']).sum()
print("$" + str(total_revenue))

$39237.02

In [41]:
#15 checking total orders made 
chipo.order_id.value_counts().count()

1834

In [42]:
#16 checking average revenue amount per order 
chipo.groupby('order_id').sum().mean()

quantity       2.711014
item_price    18.811429
dtype: float64

In [47]:
#17 checking number of different items sold 
chipo.item_name.value_counts().count()

50